@import "~@angular/material/theming";

@include mat-core();

$cosmos-primary: (
  100: #a3a3a3,
  400: #666666,
  500: #262626,
  800: #262626,
  900: #000000,
  contrast: (
    100: #ffffff,
    400: #ffffff,
    500: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$cosmos-theme: (
  50:#fff6ea,
  100: #ffe5c3,
  200: #ffd59d,
  300: #ffc577,
  400: #ffb84b,
  500: #ffa52b,
  600: #de8814,
  700: #b56902,
  800: #a65900,
  900: #643900,

  contrast: (
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A200: #000000,
  ),
);

$cosmos-warn: (
  50: #FFEFEB,
  100: #FFCBBF,
  200: #FFA794,
  300: #FF7F57,
  400: #FF5F3C,
  500: #DD4929,
  600: #BB3619,
  700: #99260D,
  800: #771804,
  900: #550F00,

  contrast: (
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A200: #000000,
  ),
);

$primary: mat-palette($cosmos-primary);
$accent: mat-palette($cosmos-theme);
$warn: mat-palette($cosmos-warn);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$named-colors: (light: 50, medium: 400, pure: 700, dark: 800);

:root {
  // Primary Colors
  --primary-light-color: #A3A3A3;
  --primary-medium-color: #666666;
  --primary-dark-color: #262626;
  --primary-pure-color: #000000;

  // Theme colors
  @each $color-name, $color-value in $named-colors {
    --theme-#{$color-name}-color: #{mat-color($cosmos-theme, $color-value)};
  }

  --theme-100-color: #FFE5C3;
  --theme-200-color: #FFD59D;
  --theme-300-color: #FFC577;
  --theme-500-color: #FFA52B;
  --theme-600-color: #DE8814;
  --theme-900-color: #643900;

  // Neutral colors
  --neutral-low-pure-color: #000000;
  --neutral-low-dark-color: #262626;
  --neutral-low-medium-color: #666666;
  --neutral-low-light-color: #A3A3A3;

  --neutral-high-pure-color: #FFFFFF;
  --neutral-high-dark-color: #E2E2E2;
  --neutral-high-medium-color: #F1F1F1;
  --neutral-high-light-color: #FAFAFA;

}

// background
.bg {
  &-theme {
    &-dark {
      background-color: var(--theme-dark-color);
    }

    &-pure {
      background-color: var(--theme-pure-color);
    }

    &-medium {
      background-color: var(--theme-medium-color);
    }

    &-light {
      background-color: var(--theme-light-color);
    }

  }

  &-neutral {
    // Low
    &-low_pure {
      background-color: var(--neutral-low-pure-color);
    }

    &-low_dark {
      background-color: var(--neutral-low-dark-color);
    }
    &-low_medium {
      background-color: var(--neutral-low-medium-color);
    }

    &-low_light {
      background-color: var(--neutral-low-light-color);
    }

    // High
    &-high_pure {
      background-color: var(--neutral-high-pure-color);
    }

    &-high_dark {
      background-color: var(--neutral-high-dark-color);
    }
    &-high_medium {
      background-color: var(--neutral-high-medium-color);
    }

    &-high_light {
      background-color: var(--neutral-high-light-color);
    }
  }
}

// color
.color {
  &-theme {
    &-light {
      color: var(--theme-light-color);
    }

    &-pure {
      color: var(--theme-pure-color);
    }
  }
}
